body {
	background: #FFFFFF /*url(images/img01.gif) repeat-x*/;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
	text-align:center;
}

#MAINBLOCK{
	width: 840px;
	margin-left: auto;
        margin-right: auto;
	padding: 0px 0;
}

#NAGLOWEK{
        font-size: 30px;
}

#page {
	width: 740px;
	margin: 0 auto;
	padding: 30px 0;
	text-align:left;
}

/* Menu poziome */

#menu {
	padding-top: 0;
	background: #A8C3CB;
	height:50px;
}

#menu ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
        display: inline;
	margin: 0;
	padding: 0;
}

#menu a {
	padding: 0 20px;
	text-decoration: none;
	font-size: 136%;
	font-weight: bold;
	color: #144B6B;
}

#menu a:hover {
	text-decoration: underline;
        /*text-color: #000000;*/
}

#menu .active a {
	color: #FFFFFF;
}

#box {
	margin: 0 0 20px 0;
}

#box .title {
	width: 250px;
	height: 0px;
	margin: 0;
	padding: 10px 0 0 10px;
	background: #A8C3CB;
	font-size: 136%;
	color: #144B6B;
}

#box #content {
	padding: 20px;
	border: 1px solid #97C984;
	border-top: none;
}

#box #field {
        display: block;
        padding: 10px;
        border: 2px groove;
}

#box h3 {
	margin: 0;
}

#box p, .box ul, .box ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#box ul {
}

#box ul li {
	padding: 8px 0 8px 10px;
}

#box ul li.first {
	border: none;
}

#box legend{
        padding: 5px 10px;
}


.input1
{
        width:200px;
}

.input2
{
        width:400px; 

}
.alert
{
	color: red;
	font-size:10px;
}
.price{
	font-weight: bold;
}
.price1{
	font-weight: bold;
}
	
#searchsubmit {
	float: right;
}


td{
height: 40px;
}
textarea{
	height:50px;
	width:400px;
}

.lista_art
{
    	margin-left: auto;
        margin-right: auto;
}

.linia_noactive
{
	border-bottom-width: thin; 
        border-bottom-style: solid;
        border-color: #fff;
        height: 36px;
        color: #c7c7c7;
}

/*Zakładka Agenci*/
#add_agent
{
	width: 312px;
        float:left;
	padding: 9px;
	border: 1px solid #97C984;
}

#stat_agent
{
        width: 312px;
        margin-left: 10px;
	float:left;
	padding: 9px;
	border: 1px solid #97C984;
}

#add_agent input, select
{
    margin: 5px;
}

#agenci_submit1 {
    
    float: left;    
}

#agenci_submit2 {
    margin-left: 5px;
    float: left;  
}

.data{
    width:70px;
}

/* Tabela z wynikami wyszykiwania pod #box wstawiana do #ekran2 */
table.lista_art tr.listwa
{
       background-color: #A8C3CB;
       color:#144B6B;
       font-weight: bold;	   
}







